:root {
--clr-primary-200: #f3eed9;
--clr-primary-400: #777777;
--clr-neutral-100: #fff;
--clr-neutral-900: #363636;
--ff-primary: Arial, Helvetica, sans-serif;
--ff-accent: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

*,
*::before,
*::after {
box-sizing: border-box;
}

body {
font-family: var(--ff-primary);
font-size: 1,1rem;
line-height: 1.6;
background-color: #fff;
/*background: url('Old site/back1.jpg') top left no-repeat;*/
}

/*TEXT*/

h1 {
    font-family: var(--ff-primary);
    font-weight: 900;
    line-height: 1;
    font-size: 2rem;
    color: cadetblue;
    padding: 0;
    margin: 0.3em 0;
    letter-spacing: .1rem;
}

h2 {
    font-family: var(--ff-accent);
    font-size: 1.4em;
    line-height: 1.4em;
}

h3 {
    font-family: var(--ff-accent);
    font-size: 1.2em;
    line-height: 1.2em;
    margin-top: 1.2em;
}


p {
    margin: 0;
    padding: 0;
}

.responsive {color: #000000;}


/*HEADER*/

.logo {
    margin-top: 0.3em;
    margin-left: 0.3em;
}

.menu {
    display: flex; 
    flex-direction: row;  
    justify-content: left;
    align-items: center;
    /*background-color: #fee0b2;*/
    /*border-radius: 9px;*/
    text-align: center;
   }

nav ul {
    display: flex; 
    flex-direction: row;
    padding: 0;
    margin: 0 1.6em;
    font-size: 1.03em;
}


nav li {
    display: inline;
    line-height: 1.1em;
    margin: 0 .5em;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #8a3700;
}

nav a:hover,
nav a:focus 
    {
    color: #ff7b00;
    text-decoration: none;
}

/*FOR ALL*/

img {
    max-width: 100%;
    }

    .items-center {
        align-items: center;
    }

 /*CONTENT*/   


.container {
    width: 100%;
    margin: 0 auto;
    max-width: 60em;
    }



.content{

    padding-left: .2em;
    }

    .row-column{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.1rem;
    }



.background{
    background-color: #fff4d8;
   
    top: 1em;
    left: 0.4em;

    width: 7.6em;
    height: 92%;
}



/* h1 {color: var(--clr-primary-200);}
   h1 span {color: ;}  */ 



section
{
    padding: 0.3em 0;
}




.bg-light {
    background-color: var(--clr-primary-200);
}

.gradient1 {
    color: var(--clr-neutral-900);
    background: linear-gradient(to right, rgb(255,255,255) 0%,rgb(108, 146, 146) 66%, rgb(42, 61, 61) 76%);
}

.gradient2 {
    color: var(--clr-primary-200);
    background: linear-gradient(to left, rgb(37, 15, 0) 80%, rgb(255, 102, 0) 0%);
}

.bg-primary h2,
.bg-dark h2 
{color: var(--clr-primary-200);}



.split2 {
    display: flex;
    flex-direction: row;
    margin-left: 2em;
    margin-right: 2em;
    justify-content: space-between;
}



.rounded-top {
    border-radius: 11px 11px 0 0;
    margin-top: .6em;
}

.rounded-bottom {
    border-radius: 0 0 11px 11px;
    margin-bottom: 0.5em;
}


.colm-1 {
    text-align: center;
    width: 100%;
}
.colm-2 {
    text-align: center;
    width: 100%;
}


footer {
    border-radius: 12px 12px 0 0;
    background-color: #fee0b2;
    height: 3em;
    margin-top: 0.5em;
}

/*  justify-content: space-between;
    align-items: center;
*/




@media (max-width: 38em) {
  
    .menu {
        flex-direction: column;
    }

      
    .logo {
        margin: 0;
        padding: 0;
    }
img {width: 16.5em;}


    h1 {
        font-size: 2rem;
        margin-bottom: .3em;
        text-align: center;
    }

    .background{
        background-color: var(--clr-neutral-100);
    }
    
    .content{
        padding-left: 0.4em;
        
    }
    nav ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        justify-content: center;
        padding: 0;
        margin-bottom: 1em;
        font-size: 1.2rem;
    }
    nav li {
        line-height: 1.2rem;
        margin: 0.36em;
        padding: 0.5em;
            vertical-align: middle;
            background: linear-gradient(0deg, rgb(212, 178, 26) 0%, rgb(253, 249, 186) 76%);
            border: 0.02em solid;
            border-color:rgb(212, 178, 26);
            border-radius: 1.12em;
    }   
    nav a {
        text-decoration: none;
        color: #3f2108;
    }
    
    nav a:hover,
    nav a:focus 
        {
        color: #d14007;
        text-decoration: none;
    }  
    
    .row-column{
        display: flex;
        flex-direction: column;
    }

    .split2 {
        display: flex;
        flex-wrap: wrap;
        margin-left: 0.2em;
        margin-right: 0.2em;
        
    }
    .responsive {
        color: #a06d0e;
        margin: 0 .2em;
    }
}