:root {
--clr-primary-200: #f3eed9;
--clr-primary-400: #777777;
--clr-neutral-100: #fff;
--clr-neutral-900: #363636;
--ff-primary: Arial, Helvetica, sans-serif;
--ff-accent: 'Courier New', Courier, monospace;
}

*,
*::before,
*::after {
box-sizing: border-box;
}

body {
font-family: var(--ff-primary);
font-weight: 400;
font-size: 1,3125rem;
line-height: 1.6;
}


/*TYPOGRAPHY*/

h1,
h2,
h3 {
    font-family: var(--ff-primary);
    font-weight: 900;
    line-height: 1;
}

h3 {
    font-family: var(--ff-accent);
    font-size: 1.3em;
    line-height: 1.3em;
}

h1 {
    font-size: 2rem;
    color: cadetblue;
    padding: 0;
   
}


p {
    margin: 0;
}

/*p::first-letter {
    font-size: 4rem; 
    color: red; 
    float: left; 
    margin: 0 0 1rem 0; 
   }

 p:first-child::first-letter */

/* MENU*/

.menu {
 display: flex; 
 flex-direction: row;
 justify-content: space-between;  
 align-items: center;
 background-color: #2e354f;
 text-align: center;
}

.menu-items-container {
    display: flex; 
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    max-width: 58em;

}


ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    justify-content: left;
    padding: 0;
    margin: 0 1.3em;
    font-size: 1.2rem;
}


li {
    line-height: 1.2rem;
    margin: 0 .5em;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #fcf9d9;
}

nav a:hover,
nav a:focus 
    {
    color: #ffd000;
    text-decoration: none;
}

.radio {
    float: right;
    font-family: var(--ff-accent);
    margin: 0 1.1em;
    line-height: 1.16rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
    min-width: 6em;
}

.radio a {
    text-decoration: none;
    color: #fff;
    font-size: 1.6rem;
    margin-top: 0.1em;
}

.radio a:hover,
.radio a:focus 
    {
    color: #73ff00;
    text-decoration: none;
}



.logo {
    margin-top: 0.3em;
    margin-left: 0.3em;
}



/*CONTENT*/

main {
    width: 100%;
    margin: 0 auto;
    max-width: 68em;
    background-color: #fff;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}


.grid-column {
    grid-column: auto;
}
.grid-column-span2 {
    grid-column: span 2;
}
.grid-column-all {
    grid-column: 1 / -1;
}


/*FOR ALL*/

img {
    max-width: 100%;
    }



/*RESPONSIVE*/


@media (max-width: 46em) {
    
    .radio {
        margin: 1.1em 0;
    }

    .menu{flex-direction: column;}

    .menu-items-container {
        flex-direction: column;
    }

 
    .radio a, .radio a:hover, .radio a:focus {
        font-size: 3.6rem;
        line-height: 2.5rem;
    }

    .grid-column-span2,
    .grid-column-all,
    .grid-column
    {
        grid-column: 1 / -1;
    }
    
    .logo {
        margin: 0;
        margin-top: 0.3em;
        padding: 0;
        
            }

             ul {
                display: flex;
                flex-direction: column;
                list-style: none;
                justify-content: center;
                padding: 0;
                margin: 0 1.6em;
                font-size: 1.2rem;
            }
             li {
                line-height: 1.2rem;
                margin: 0.4em;
                padding: 0.3em;
                    vertical-align: middle;
                    background-color:#ffab00;
                    
                    border: #363636;
                    border-radius: 0.6em;
            }   
            nav a {
                text-decoration: none;
                color: #3f2108;
            }
            
            nav a:hover,
            nav a:focus 
                {
                color: #aa3507;
                text-decoration: none;
            }    

}


/*
















.split {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (min-width: 42em) {
    .split {
        flex-direction: row;}
        
    .split > * {
        flex-basis: 100%;
    }

    .split > * + * {
        margin-left: 2em;
    } 
}

#wrapper{
    position: relative;
    margin: .3em 0;
}

.content{
    position: relative;
    z-index: 100;
    padding-left: 2em;
    }

.background{
    background-color: #fff4d8;
    position: absolute;
    top: 1em;
    left: 0.4em;
    z-index: 3;
    width: 7.6em;
    height: 92%;
} */

/*background: url('Old site/back1.jpg') top left no-repeat;*/

/* h1 {color: var(--clr-primary-200);}
   h1 span {color: ;}  */ 